:root {
  /* flutter dash color approx */
  --primary-color: hsl(190, 100%, 60%);
}

html {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

svg {
  display: inline-block;
}

.entry {
  padding: 0.5em 0.1em;
  position: relative;
}

.main > .key {
  padding-right: 0.5rem;
  min-width: 10%;
  flex-basis: 10%;
  letter-spacing: -0.05rem;
}

.entry:nth-child(odd) {
  background-color: hsl(0, 0%, 90%);
}

.entry:nth-child(even) {
  background-color: white;
}

.main {
  display: flex;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.main > * {
  vertical-align: top;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: anywhere;
  white-space: nowrap;
  max-width: 45%;
}

.main > .localized-text {
  flex-grow: 1;
  padding-right: 1rem;
}

.extra {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.5rem;
  display: none;
  border-left: 0.1rem solid hsl(0, 0%, 50%);
  border-bottom: 0.1rem solid hsl(0, 0%, 50%);
}

.placeholders {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.5rem;
  display: none;
  border-left: 0.1rem solid hsl(0, 0%, 50%);
  border-bottom: 0.1rem solid hsl(0, 0%, 50%);
}

.placeholders > ul {
  margin-left: 1rem;
}

.placeholders-label {
  margin-left: 1rem;
}

.placeholder-type {
  font-size: 0.5rem;
  font-weight: 900;
  color: white;
  display: inline-block;
  background-color: hsl(0, 0%, 60%);
  padding: 0rem 0.25rem;
  border: hsl(0, 0%, 60%) solid 0.1rem;
  border-radius: 0.2rem;
  transform: translateY(-25%);
}

.placeholder-type.int {
  background-color: hsl(111, 60%, 60%);
  border-color: hsl(111, 60%, 60%);
}

.placeholder-type.String {
  background-color: hsl(200, 60%, 60%);
  border-color: hsl(200, 60%, 60%);
}

.placeholder-type.DateTime {
  background-color: hsl(50, 60%, 60%);
  border-color: hsl(50, 60%, 60%);
}

.arrow {
  position: relative;
}

.arrow::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-left: 0.35rem solid black;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(50%);
  cursor: pointer;
}

.arrow.down::before {
  transform: translateY(50%) rotate(90deg);
}

.kebab {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  padding: 0rem 1rem;
  top: 0.25rem;
  right: 0.25rem;
}

.kebab figure {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  background: hsl(0, 0%, 30%);
  margin: 0.2rem 0rem;
}

.dropdown {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  right: 100%;
  top: 0.5em;
  display: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.dropdown li {
  display: block;
  width: 100%;
}

.dropdown li * {
  width: 100%;
  padding: 1em 2em;
  display: inline-block;
  white-space: pre;
}

.dropdown li *:hover {
  background: hsl(0, 0%, 90%);
}

.dropdown.active {
  z-index: 1;
  display: block;
}

.delete-button {
  background-color: hsl(0, 90%, 60%);
  color: hsl(0, 0%, 100%);
}

.dropdown li .delete-button:hover {
  background-color: hsl(0, 60%, 45%);
}

.active-long-text-wrapping {
  white-space: normal;
}

.dialog-key {
  display: inline-block;
  margin-right: 0.25rem;
  width: fit-content;
  font-size: 1rem;
  font-weight: 900;
  background-color: var(--primary-color);
  padding: 0.15rem 0.75rem;
  border: var(--primary-color) solid 0.1rem;
  border-radius: 0.2rem;
  /* transform: translateY(-25%); */
}

.dialog-lang {
  font-size: 1.15rem;
  padding: 0.5rem 0rem;
  font-weight: 900;
  margin-top: 1.25rem;
}

.dialog-lang-textarea {
  font-size: 1rem;
  min-width: 50%;
  max-width: 70%;
  min-height: 10rem;
}

.blurred {
  filter: blur(10px);
}

.top-ribbon {
  position: sticky;
  top: 0rem;
  z-index: 1;
  background-color: var(--primary-color);
}

.bottom-ribbon {
  gap: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  background-color: var(--primary-color);
  padding: 0rem 0.5rem;
}

.action-button-label {
  display: inline-flex;
  cursor: pointer;
  padding: 1.25rem 1rem;
  background-color: hsl(0, 0%, 40%);
  color: hsl(0, 0%, 95%);
  justify-content: center;
  align-items: center;
}

.action-button-label:hover {
  background-color: hsl(0, 0%, 50%);
}

.action-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.action-button > svg {
  width: 1.75rem;
}

.action-button > span {
  font-size: 1.1rem;
  font-weight: 900;
}

.action-button-label input {
  width: 0px;
  height: 0px;
  border: 0px;
}

.action-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.action-container {
  min-width: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.action-container:hover > *:first-child {
  display: flex;
}

.deactivated {
  display: none !important;
}

.webarb-banner {
  margin-left: auto;
}

.webarb-banner > img {
  height: 1.75rem;
}

#table {
  background-color: var(--primary-color);
  padding: 0.4rem 0.3rem 4rem;
}

#edit-key-modal-dialog {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: hsla(0, 0%, 50%, 0.7);
  display: none;
}

#edit-key-modal-dialog.active-modal-dialog {
  display: block;
}

#modal-dialog-close-button {
  cursor: pointer;
  color: hsl(0, 0%, 40%);
  font-weight: 900;
  font-size: 1.5rem;
  float: right;
  line-height: 1;
  text-align: center;
}

#dialog-placeholders-container {
  float: right;
  width: calc(30% - 2.5rem);
  padding: 0.5rem;
  word-wrap: break-word;
  margin-right: 1rem;
}

#modal-dialog-close-button:hover {
  color: hsl(0, 0%, 25%);
}

#edit-dialog {
  background-color: hsl(0, 0%, 100%);
  height: 75%;
  width: 75%;
  margin: auto;
  margin-top: calc((100% - 75%) / 4);
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow: auto;
  box-shadow: 0rem 0rem 1.5rem hsl(0, 0%, 30%);
}

#save-entry {
  background-color: hsl(111, 60%, 60%);
  border: hsl(111, 60%, 60%) solid 0.1rem;
  cursor: pointer;
}
#save-entry:hover {
  background-color: hsl(111, 60%, 45%);
  border: hsl(111, 60%, 45%) solid 0.1rem;
}

#thead {
  padding: 0.25rem 0.4rem;
}

#thead * {
  display: inline-block;
  font-weight: 900;
  flex-basis: 0%;
}

#thead > .tr {
  padding: 0.2rem 0rem;
  width: 100%;
  display: flex;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

#thead > .tr > [class|="lang"] {
  flex-grow: 1;
  padding-right: 1rem;
}

#thead > .tr > .key {
  min-width: 10%;
  flex-basis: 10%;
  padding-right: 0.5rem;
}
