html {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#thead > .tr {
  width: 100%;
}

#thead > .tr > .key {
  width: 8%;
  padding-left: 1rem;
}

.entry {
  padding: 0.5em 0.1em;
  position: relative;
}

.main > .key {
  padding-right: 0.5rem;
  width: 8%;
  letter-spacing: -0.05rem;
}

.entry:nth-child(odd) {
  background-color: hsl(0, 0%, 90%);
}

.entry:nth-child(even) {
  background-color: white;
}

.main {
  padding-left: 1rem;
}

.main > * {
  vertical-align: top;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: anywhere;
  white-space: nowrap;
  max-width: 48%;
}

.extra {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.5rem;
  display: none;
  border-left: 0.1rem solid hsl(0, 0%, 50%);
  border-bottom: 0.1rem solid hsl(0, 0%, 50%);
}

.placeholders {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.5rem;
  display: none;
  border-left: 0.1rem solid hsl(0, 0%, 50%);
  border-bottom: 0.1rem solid hsl(0, 0%, 50%);
}

.placeholders > ul {
  margin-left: 1rem;
}

.placeholders-label {
  margin-left: 1rem;
}

.placeholder-type {
  font-size: 0.5rem;
  font-weight: 900;
  color: white;
  display: inline-block;
  background-color: hsl(0, 0%, 60%);
  padding: 0rem 0.25rem;
  border: hsl(0, 0%, 60%) solid 0.1rem;
  border-radius: 0.2rem;
  transform: translateY(-25%);
}

.placeholder-type.int {
  background-color: hsl(111, 60%, 60%);
  border-color: hsl(111, 60%, 60%);
}

.placeholder-type.String {
  background-color: hsl(200, 60%, 60%);
  border-color: hsl(200, 60%, 60%);
}

.placeholder-type.DateTime {
  background-color: hsl(50, 60%, 60%);
  border-color: hsl(50, 60%, 60%);
}

.arrow {
  position: relative;
}

.arrow::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-left: 0.35rem solid black;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(50%);
  cursor: pointer;
}

.arrow.down::before {
  transform: translateY(50%) rotate(90deg);
}

.kebab {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  padding: 0rem 1rem;
  top: 0.25rem;
  right: 0.25rem;
}

.kebab figure {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  background: hsl(0, 0%, 30%);
  margin: 0.2rem 0rem;
}

.dropdown {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  right: 100%;
  top: 0.5em;
  display: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.dropdown li {
  display: block;
  width: 100%;
}

.dropdown li * {
  width: 100%;
  padding: 1em 2em;
  display: inline-block;
  white-space: pre;
}

.dropdown li *:hover {
  background: hsl(0, 0%, 90%);
}

.dropdown.active {
  z-index: 1;
  display: block;
}

.delete-button {
  background-color: hsl(0, 90%, 60%);
  color: hsl(0, 0%, 100%);
}

.dropdown li .delete-button:hover {
  background-color: hsl(0, 60%, 45%);
}

.active-long-text-wrapping {
  white-space: normal;
}

#table {
  /* flutter dash color approx */
  background-color: hsl(190, 100%, 60%);
  padding: 0.25rem 0.3rem;
}

#thead * {
  display: inline-block;
  font-weight: 900;
  padding: 0.45rem 0.1rem;
}
